<div *ngIf="runner">
  {{runner.race}} {{runner.year}} <br />
  <div class='name'>
    <div class='bib'>{{runner.bib}}</div> {{runner.firstname}} {{runner.surname}}
  </div>
  Födelseår: {{runner.birthyear}}<br/>
  Klubb: {{runner.club}} <br/>
  Nation: {{runner.nation.name}} <br/>
  Klass: {{runner.class}} <br/>

  {{runner.time}}<br />

<ul class='cptable'>
  <li>
    <div class='checkpoint'></div>
    <div class='timecell'>Alla</div>
    <div class='timecell'>{{runner.class}}</div>
  </li>
  <li *ngFor="let checkpoint of runner.checkpoints">
    <div class='checkpoint'>{{checkpoint.name}}</div>
    <div class='timecell'>{{checkpoint.position.all}}</div>
    <div class='timecell'>{{checkpoint.position.class}}</div>
    <!-- time[{{checkpoint.timepassed.inFormat}}]-
    [{{checkpoint.timeofday}}] -->
  </li>

</ul>
</div>
  runner-detail works!
