ul {
  color: white;
  list-style-type: none;
  padding-left: 0;
}

li {
  position: relative;
  left: 0;
  background-color: #333;
  margin: 0;
  padding: .3em 0;
  height: 1.6em;
  width: 540px;

  border-radius: 4px;
}

.label {
  display: inline-block;
  text-align: right;
  font-size: small;
  width: 120px;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #444;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
