<h2>My passings</h2>

<ul>
  <li>Antal löpare: {{v_totalrunners}} </li>
<li>Snabbast tid: {{v_fastest_time}}</li>
<li>Långsammast tid: {{v_slowest_time}}</li>
<li>medeltid: {{v_avg_time}}</li>
</ul>

<div style="width: 100%;">
  <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="lineChartColors"
      (chartClick)="onChartClick($event)">
  </canvas>
</div>
<!--
<ul>
  <li *ngFor="let passing of passings">
    <span class="badge">{{passing.time}}</span> {{passing.count}}
  </li>

</ul>
-->
