/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


ul.nav {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav a {
  transition: all 0.1s;
}

.nav li {
    float: left;
    border: 0;
    text-transform: uppercase;
}

.nav li:last-child {
    border-right: none;
}
.nav li.sponsor-fjallmara a {
    background-image: url('/assets/kia_neg.png') !important;
    background-size: 2.5em !important;
    background-repeat: no-repeat !important;
    background-position: 0.3em center !important;
    padding-left: 3.25em;
}
.nav li.sponsor-27k a {
    background-image: url('/assets/Salomon_27K_logo_white.png') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 2em !important;
    background-position: 0.8em !important;
    padding-left: 3.5em;
}
.nav li.sponsor-vertical a {
    background-image: url('/assets/ppverticalk_neg.svg') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 2em !important;
    background-position: 0.8em !important;
    padding-left: 3.5em;
}
.nav li.sponsor-copper a {
    background-image: url('/assets/copperhill_neg.png') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 2em !important;
    background-position: 0.8em !important;
    padding-left: 3.5em;
}
.nav li.sponsor-kvartsmara a {
    background-image: url('/assets/ulvang.png') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 2em !important;
    background-position: 0.8em !important;
    padding-left: 3.5em;
}
.nav li.sponsor-oppet a {
    background-image: url('/assets/lundhags_neg.png') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 3.5em !important;
    background-position: 0.1em !important;
    padding-left: 3.5em;
}
.nav li.sponsor-bydalen a {
    background-image: url('/assets/buff_neg.png') !important;
    background-repeat: no-repeat !important;
    padding-left: 3.25em;
    background-size: 2em !important;
    background-position: 0.8em !important;
    padding-left: 3.5em;
}

.nav li a {
    display: block;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 3px;
    color: white;
    text-align: center;
    margin: 0.1em 0.1em;
    padding: 1em 1em;
    font-size: 0.6em;
    color: rgb(255,255,255);
    background-color: #222;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #444;
    border: 1px solid rgba(255,255,255,0.8);
}

.nav li a.active {
  color: #039be5;
  background-color: #999;
}

.nav .active {
    background-color: #4CAF50;
}
