<!--The content below is only a placeholder and can be replaced.-->
<div id="content">
<img id="logo" [src]="deploy_path + 'assets/fjallstatistik.png'" alt="Simpla Admin logo" />

<nav>
  <ul class="nav">
    <li [class.selected]="'home' === selectedRace" (click)="onSelect('sök')"><a routerLink="/runner">hem</a></li>
    <li [class.selected]="'home' === selectedRace" (click)="onSelect('löpare')"><a routerLink="/runner/fjallmara/2017/100">hem</a></li>
    <li *ngFor="let item of menuitems" [class]="'sponsor-' + item.alias" [class.selected]="item.alias === selectedCheckpoint" (click)="onSelect(item.alias)">
      <a routerLink="{{deploy_path}}/race/{{item.alias}}">{{item.name}}</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div>
